﻿@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="get"
      action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantList">
    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" />
</form>

@*@using (Ajax.BeginForm(
        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "restaurantList"
        }))
    {
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search By Name" style="height:100px" />
    }*@

@{ 
	var amount = 10.0m;
	var someDate = new DateTime(2002, 7, 9);
}

<div>
	test
</div>
<div>
	@OdeToFood.Views.Home.Resources.Greeting
</div>
<div>
	@amount.ToString("c");
</div>
<div>
	@someDate.ToShortDateString();
</div>

@Html.Partial("_Restaurants", Model)
